@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.2s ease-in;
}
  
body {
    font-family: "Roboto", sans-serf;
}

a {
    font-size: 1rem;  
    text-decoration: none;
    color:white;
    margin-left: -55%;
    margin-top: 0%;
}
  
a:hover {
    color: black;
}

nav {
    background: url(https://i.postimg.cc/k4bQN2Zd/bgdesign.png);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    box-shadow: 2px 3px 2px #dddddd;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    height: 60px;
}

.navimg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid 1px black;
    margin-right: 16%;
}

.nama {
    position: absolute;
    text-align: right;
    font-size: larger;
    font-style: bold;
    margin-left: -22%;
    color: white;
    margin-top: -1%;
    width: 250px;
}

.nama:hover{
    color: #000000;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.checkbox:checked + .label .switcher {
    transform: translateX(24px);
}

.label {
    width: 50px;
    height: 29px;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    padding: 6px;
    position: relative;
    margin-left: 450%;
}

.switcher {
    background-color: #fff;
    position: absolute;
    top: 5px;
    left: 2px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.moon {
    color: #ff0202;
}
  
.sun {
    color: #ffffff;
}


.banner {
    background:url(https://i.postimg.cc/WzFQKXHB/Background.png) ; 
    background-size: cover;
    background-position: center;
    padding-top: 30px;
    border-radius: 20px;
    width: 800px;
    height: 300px;
    margin-top: 10px;
    margin-left: 20%;
}

.profile{
    position: absolute;
    margin-left: 24%;
    margin-top: -8%;
    font-size: 2em;
    text-align: center;
}

.accimg {
    border-radius: 50%;
    border: 5px solid rgb(0, 0, 0);
    width: 200px;
    height: 200px;
}

.btn {
    margin-top: 5px;
    margin-left: 55%;
    width: 700px;
    padding: 15px 25px;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: rgb(0, 0, 0);
    background:transparent;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 0 5px rgb(209, 209, 209);
  }
  
.btn:hover {background-color: #ea7622}
  
.btn:active {
    background-color: #9b4d16;
    box-shadow: 0 2px #666;
    transform: translateY(5px);
    transition: 0.2ms;
}

.pencil {
    align-items: right;
    padding-left: 1%;
}

.details{
    background: url(https://i.postimg.cc/k4bQN2Zd/bgdesign.png) ;
    background-size: cover;
    background-attachment: fixed;
    width: 800px;
    height: 400px;
    margin-top: 17%;
    margin-left: 20%;
    border-radius: 2%;
    font-family: "Roboto", sans-serf;
    border: 1px solid red;
    align-items: center;
}

.data {
    color: #ffffff;
    font-weight: bold;
    padding: 3%;
    text-align: justify;
    font-size: 1.5rem;
    font-family: "Roboto", sans-serf;
}

.icondt {
    padding-right: 10px;
}

body.dark {
    background-color: #111;
}

.dark .profile{
    color: white;
}

.dark .btn {
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
}
  
.dark .edit {
    background:transparent;
    border: 1px solid rgb(255, 255, 255);
}
  
.dark .edit:hover {
    background-color: #ea7622;
    color: #fff;
}

.dark .pencil {
    color: #fff;
}

.dark .details{
    background: url(https://i.postimg.cc/BnWMczYG/bg1anjay.png);
    background-size: cover;
    border: 1px solid red;
}

footer{
    position: relative;
    width: 100%;
    bottom: 0;
    margin-top: 10px;
    background: url(https://i.postimg.cc/k4bQN2Zd/bgdesign.png) ;
    text-align: center;
    color:#ffffff;
}


@media screen and (max-width: 414px){

    .logo{
        padding-top: 1%;
        width:12%;
    }

    h3 {
        width: 300px;
    }

    a {
        font-size: 0.7rem;  
        text-decoration: none;
        color:white;
        margin-left: -130%;
        margin-top: 0%;
    }
      
    a:hover {
        color: black;
    }
    
    nav {
        width: 100%;
        background: url(https://i.postimg.cc/k4bQN2Zd/bgdesign.png);
        background-size: cover;
        background-attachment: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 1.5rem;
        box-shadow: 2px 3px 2px #dddddd;
        position: sticky;
        top: 0;
        left: 0;
        z-index: 1;
        height: 50px;
    }
    
    .checkbox {
        opacity: 0;
        position: absolute;
    }
    
    .checkbox:checked + .label .switcher {
        transform: translateX(25px);
    }
    
    .label {
        width: 50px;
        height: 25px;
        background-color: #111;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 10px;
        padding: 6px;
        position: relative;
    }
    
    .switcher {
        background-color: #fff;
        position: absolute;
        top: 2px;
        left: 2px;
        height: 20px;
        width: 20px;
        border-radius: 50%;
    }
    
    .moon {
        color: #ff0202;
    }
      
    .sun {
        color: #ffffff;
    }
    
    
    .banner {
        background:url(https://i.postimg.cc/WzFQKXHB/Background.png); 
        background-repeat: no-repeat;
        background-size: 100%;
        padding-top: 3px;
        border-radius: 20px;
        width: 100%;
        height: 150px;
        margin-top: 10px;
        margin-left: 0%;
    }
    
    .profile{
        position: absolute;
        margin-left: 1%;
        margin-top: -10%;
        font-size: 1.2em;
        text-align: center;
    }
    
    .accimg {
        border-radius: 50%;
        border: 5px solid rgb(0, 0, 0);
        width: 30%;
        height: 30%;
    }
    
    .btn {
        margin-top: 1%;
        margin-left: -6px;
        width: 80%;
        padding: 15px 25px;
        font-size: 0.8rem;
        text-align: center;
        cursor: pointer;
        outline: none;
        color: rgb(0, 0, 0);
        background:transparent;
        border: 1px solid black;
        border-radius: 15px;
        box-shadow: 0 5px rgb(209, 209, 209);
      }
      
    .btn:hover {background-color: #ea7622}
      
    .btn:active {
        background-color: #9b4d16;
        box-shadow: 0 2px #666;
        transform: translateY(4px);
        transition: 0.2ms;
    }
    
    
    .pencil {
        align-items: right;
        padding-left: 1%;
    }
    
    .details{
        display: flex;
        width: 98%;
        height: 300px;
        margin-top: 45%;
        align-items: center;
        margin-left: 1%;
    }
    
    .data {
        color: #ffffff;
        padding: 5%;
        text-align: justify;
        font-size: 1.2rem;
    }

    footer{
        position: fixed;
        width: 100%;
        bottom: 0;
        margin-top: 10px;
        background: url(https://i.postimg.cc/k4bQN2Zd/bgdesign.png) ;
        text-align: center;
        color:#ffffff;
        height: 20px;
    }


    .cool {
        background-color: #111;
    }
}