:root {
    --normal-font: 400;
    --bold-font: 600;
    --bolder-font: 900;
    --line-height: 1.7rem;
    --transition: 0.2s ease-in;
  }

* {
    box-sizing: border-box;
    transition: var(--transition);
    }

    /* Smooth scroll effect */
html {
  scroll-behavior: smooth;
}

    body {
        margin: 0;
        font-family: 'Open-sans', sans-serif;
        background: url(https://i.postimg.cc/k4bQN2Zd/bgdesign.png);
        background-size: cover;
        margin-bottom: 10px;
    }

    .form {
        margin: -30px auto;
        bottom: 100px;
        width: 900px;
        padding-top: 5px;
        padding-left: 30px;
        padding-right: 30px;
        background-color:rgba(255, 255, 255, 0.9); 
        background-size: cover;
        background-attachment: fixed; 
        border-radius: 20px;
    }

    .form-content  h1 {
        text-align: center;
        color: #000000;
    }
    .form-content p {
        text-align: center;
        color: #000000;
    }

    .form-content a {
        text-align: center;
        color: #000000;
    }

    .titlecontent {
        color: #000000;
        opacity: 70%;
    }

    .title h3 {
    	font-size: 1.4em;
        color: #000000;
        position: relative;
      
    }
    .title h3::before{
        content: "";
        position: absolute;
        height: 2px;
        width: 100%;
        left: 0;
        bottom: -8px;
        background: #00bfff;
    } 
    .title .d{
        font-size: 14px;
        text-align: left;
    }
    .title p {
        color: rgb(0, 0, 0);
        font-size: 13px;
        text-align: left;
    }
    .tulis p {
        color: rgb(0, 0, 0), 0, 0;
    }
    .tulis .d{
        font-size: 14px;
        color: rgb(0, 0, 0);
        text-align: left;
    }
    .title label {
        font-size:1.1em;
        font-weight: 400;
        color: #000000;
       position: relative;
    }
    .tulis label {
        font-size:1.1em;
        font-weight: 400;
        color: #000000;
       position: relative;
    }
    .title label::before{
        content: "";
        position: absolute;
        height: 2px;
        width: 45px;
        left: 0;
        bottom: -5px;
        background: #256d85;
    }
    .content {
        color: #000000;
        margin-bottom: 10px;
    }

    .titlecontent {
        color: #000000;
        opacity: 80%;
    }
    
    ::placeholder { 
        color: #000000;
        opacity: 80%; 
      }

    .content input[type=text] {
        background: transparent;
        width: 100%;
        border: none;
        height: 40px;
        border-bottom: 0.5px solid #383838;
        font-size: 14px;
        color: rgb(0, 0, 0);
        margin-bottom: 6px;
        outline: none;
    }

    .content input[type=date] {
        background: transparent;
        width: 100%;
        border: none;
        height: 40px;
        border-bottom: 1px solid #bfbfbf;
        color: rgb(0, 0, 0);
        margin-bottom: 10px;
        margin-top: -9px;
        outline: none;
    }

    .content label {
        font-size: 1em;
        font-weight: 400;
        position: relative;
    }
    .content label::before{
        content: "";
        position: absolute;
        height: 2px;
        width:60px;
        left: 0;
        bottom: -5px;
        background: #256d85;
    }

    .btnkirim {
        border: 2px solid white  ;
        background-color: #ea5c27;
        float: right;
        width: 20%;
        color: rgb(255, 255, 255);
        height: 50px;
        margin-top: 3em;
        cursor: pointer;
        transition: .3s;
        margin-bottom: 50px;
    }
    .btnkirim:hover {
        background: #ea7622;
        border: 2px solid #000000;
        color: #000000;
    }
    
    input[type='file'] {
        cursor: pointer !important;
        color: rgb(0, 0, 0);
    }
    
    input[type='file']::-webkit-file-upload-button {
        background: transparent;
        border: 1px solid #ea7622;
        padding: 1em 2em;
        cursor: pointer;
        color: rgb(0, 0, 0);
        transition: .3s;
    }
    
    
    input[type='file']::-webkit-file-upload-button:hover {
        background: #00bfff;
        border: 1px solid #ea7622;
        padding: 1em 2em;
        cursor: pointer;
        color: #fff;
    }

.radio {
	width: 400px;
	color: #f1f1f1;
}

.pilihan {
	width: 400px;
	color: #000000;
}
.pilihan .b{
    margin-left: 47.4px;
}
.pilihan .u{
    margin-left: 50.9px;
}
.display {
	display: flex;
    font-size: 14px;
    margin-bottom: 6px;
}

.cbp {
	margin-left: 50px;
}

.cbl {
	margin-left: 50px;
}
.disla{
    font-size: 14px;
}
.content .tkj{
    margin-left: 19.8%; 
 }
.content .s{
   margin-left: 37%; 
}
.content .dkv{
    margin-left: 26.3%; 
 }
 .content .i{
    margin-left: 37.6%; 
 }
 .kelamin{
    color:rgb(0, 0, 0) ;
    position: relative;
    font-size: 14px;
}
.kelamin::before{
    content: "";
    position: absolute;
    height: 2px;
    width: 55px;
    left: 0;
    bottom: -5px;
    background: #256d85;
}
.pilihan label{
    color: rgb(0, 0, 0) ;
    position: relative;
    font-size: 14px;
}
.pilihan label::before{
    content: "";
    position: absolute;
    height: 2px;
    width: 50px;
    left: 0;
    bottom: -5px;
    background: #256d85;
}
.tulis label{
    color: rgb(0, 0, 0) ;
    position: relative;
}
.tulis label::before{
    content: "";
    position: absolute;
    height: 2px;
    width: 60px;
    left: 0;
    bottom: -5px;
    background: #256d85;
}

.theme-switch {
    display: flex;
    margin-top: 1%;
    margin-left: 90%;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.checkbox:checked + .label .switcher {
    transform: translateX(24px);
}


.label {
    right: 0px;
    width: 50px;
    height: 29px;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    padding: 6px;
    position: relative;
}

.switcher {
    background-color: #fff;
    position: absolute;
    top: 5px;
    left: 2px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.moon {
    color: #ff0202;
}
  
.sun {
    color: #ffffff;
}


body.dark {
    background: url(https://i.postimg.cc/BnWMczYG/bg1anjay.png);
    background-size: cover;
}

.dark .form {
    background-color: #000000;
}

body.dark .kelamin {
    color: white;
}

body.dark .pilihan {
    color: white;
}

.dark .form-content  h1 {
    text-align: center;
    color: #ffffff;
}
.dark .form-content p {
    text-align: center;
    color: #ffffff;
}


.dark .titlecontent {
    color: #ffffff;
    opacity: 80%;
}

.dark ::placeholder { 
    color: rgb(255, 255, 255);
    opacity: 80%; 
  }

.dark .title h3 {
    font-size: 1.4em;
    color: #ffffff;
    position: relative;
  
}
.dark .title h3::before{
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: -8px;
    background: #ff0000;
} 
.dark .title .d{
    font-size: 14px;
    text-align: left;
}
.dark .title p {
    color: rgb(255, 255, 255);
    font-size: 13px;
    text-align: left;
}
.dark .tulis p {
    color: rgb(255, 255, 255), 0, 0;
}
.dark .tulis .d{
    font-size: 14px;
    color: rgb(255, 255, 255);
    text-align: left;
}
.dark .title label {
    font-size:1.1em;
    font-weight: 400;
    color: #ffffff;
   position: relative;
}
.dark .tulis label {
    font-size:1.1em;
    font-weight: 400;
    color: #ffffff;
   position: relative;
}
.dark .title label::before{
    content: "";
    position: absolute;
    height: 2px;
    width: 45px;
    left: 0;
    bottom: -5px;
    background: #256d85;
}
.dark .content {
    color: #ffffff;
    margin-bottom: 10px;
}

.dark .content input[type=text] {
    background: transparent;
    width: 100%;
    border: none;
    height: 40px;
    border-bottom: 0.5px solid #ffffff;
    font-size: 14px;
    color: rgb(255, 255, 255);
    margin-bottom: 6px;
    outline: none;
    opacity: 90%;
}

.dark .content input[type=date] {
    background: transparent;
    width: 100%;
    border: none;
    height: 40px;
    border-bottom: 1px solid #bfbfbf;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
    margin-top: -9px;
    outline: none;
    opacity: 80%;
}

.dark .content label {
    color: white;
    font-size: 1em;
    font-weight: 400;
    position: relative;
}
.dark .content label::before{
    content: "";
    position: absolute;
    height: 2px;
    width:60px;
    left: 0;
    bottom: -5px;
    background: #256d85;
}

.dark .btnkirim {
    border: 2px solid #ea5c27 ;
    background-color: #000000;
    float: right;
    width: 20%;
    color: rgb(255, 255, 255);
    height: 50px;
    margin-top: 3em;
    cursor: pointer;
    transition: .3s;
    margin-bottom: 50px;
}
.dark .btnkirim:hover {
    background: #ea7622;
    border: 2px solid #ffffff;
    color: #ffffff;
}

.dark input[type='file'] {
    cursor: pointer !important;
    color: rgb(255, 255, 255);
}

.dark input[type='file']::-webkit-file-upload-button {
    background: transparent;
    border: 1px solid #ea7622;
    padding: 1em 2em;
    cursor: pointer;
    color: rgb(255, 255, 255);
    transition: .3s;
}


.dark input[type='file']::-webkit-file-upload-button:hover {
    background: #ea5c27;
    border: 1px solid #ffffff;
    padding: 1em 2em;
    cursor: pointer;
    color: rgb(0, 0, 0);
}

.dark .display {
    color: white;
	display: flex;
    font-size: 14px;
    margin-bottom: 6px;
}

.dark .cbp {
    color: white;
}

.dark .cbl {
    color: white;
}
.dark .disla{
    color: white;
}
.dark .content .tkj{
    color: white;
 }
.dark .content .s{
    color: white;
}
.dark .content .dkv{
    color: white;
 }
.dark .content .i{
    color: white;
 }

 .dark .labelagm {
    color: white;
 }

 .dark .jurusan {
    color: white;
 }

 .dark .jurusan label::before {
    background-color: #256d85;
 }

 body.dark .kelamin label::before {
    background-color: #256d85;
 }

 .dark .content input [type = "radio"] {
    color: white;
 }

 .dark .labelenam {
    color: white;
 }

 .dark .ortu {
    color: white;
 }

 .dark a {
    text-align: center;
    color: #ffffff;
}

.dark input {
    color-scheme: dark;
  }

.footer{
    margin-top: 5%;
    margin-left: 50px;
    font-size: 1rem;
    color:#000000;
    position: absolute;
}

.dark .footer{
    color:#ffffff;
}

@media screen and (max-width: 820px) {
    .form {
        margin: 30px auto;
        width: 700px;
        padding-top: 5px;
        padding-left: 30px;
        padding-right: 30px;
        background-color:rgba(255, 255, 255, 0.9); 
        background-size: cover;
        background-attachment: fixed; 
        border-radius: 20px;
    }
}

@media screen and (max-width: 414px) {
    .form {
        margin: 30px auto;
        width: 387px;
        padding-top: 5px;
        padding-left: 30px;
        padding-right: 30px;
        background-color:rgba(255, 255, 255, 0.9); 
        background-size: cover;
        background-attachment: fixed; 
        border-radius: 20px;
    }

    .btnkirim{
        margin-top: 10px;
    }
}