@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

html {
    scroll-behavior: smooth;
}
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: var(--transition);
}
  
body {
    font-family: "Roboto", sans-serf;
}

.card-header {
    font-size: 2rem;
    margin: 10px;
    margin-top: 10%;
    text-align: center;
}

.alert {
    text-align: center;
}

.mb-3 {
    text-align: center;
    font-size: larger;
    margin-top: 20px;
}

input[type='file'] {
    cursor: pointer !important;
    color: rgb(0, 0, 0);
}

input[type='file']::-webkit-file-upload-button {
    background: transparent;
    border: 1px solid #ea7622;
    padding: 1em 2em;
    cursor: pointer;
    color: rgb(0, 0, 0);
    transition: .3s;
}


input[type='file']::-webkit-file-upload-button:hover {
    background: #00bfff;
    border: 1px solid #ea7622;
    padding: 1em 2em;
    cursor: pointer;
    color: #fff;
}

.submit {
    text-align: center;
}

.btn-up {
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    border: 2px solid white  ;
    background-color: #ea5c27;
    width: 20%;
    color: rgb(255, 255, 255);
    height: 50px;
    margin-top: 3em;
    cursor: pointer;
    transition: .3s;
}

.next {
    text-align: center;
}

.btnnext {
    align-items: center;
    padding: 10px;
    border: 2px solid white  ;
    background-color: #ea5c27;
    width: 20%;
    color: rgb(255, 255, 255);
    height: 50px;
    margin-top: 1em;
    cursor: pointer;
    transition: .3s;
}