@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* CSS Variables */
:root {
  --normal-font: 400;
  --bold-font: 600;
  --bolder-font: 900;
  --primary-color: #000000;
  --secondary-color: #ea2027;
  --line-height: 1.7rem;
  --transition: 0.2s ease-in;
}

/* Smooth scroll effect */
html {
  scroll-behavior: smooth;
}

/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: var(--transition);
}

body {
  font-family: "Roboto", sans-serf;
}

ul li {
  list-style-type: none;
}

a {
    font-size: 1rem;  
    text-decoration: none;
    color:white;
    margin-left: -55%;
    margin-top: 0%;
}
  
a:hover {
    color: black;
}

nav {
    background: url(https://i.postimg.cc/k4bQN2Zd/bgdesign.png);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    box-shadow: 2px 3px 2px #dddddd;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    height: 60px;
}

.navimg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid 1px black;
    margin-right: 16%;
}

.nama {
    position: absolute;
    text-align: right;
    font-size: larger;
    font-style: bold;
    margin-left: -18%;
    color: white;
    margin-top: -1%;
    width: 250px;
}

.nama:hover{
    color: #000000;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.checkbox:checked + .label .switcher {
    transform: translateX(24px);
}

.label {
    width: 50px;
    height: 29px;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    padding: 6px;
    position: relative;
    margin-left: 450%;
}

.switcher {
    background-color: #fff;
    position: absolute;
    top: 5px;
    left: 2px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.moon {
    color: #ff0202;
}
  
.sun {
    color: #ffffff;
}


.hero {
  background:url(https://i.postimg.cc/k4bQN2Zd/bgdesign.png) ; 
  background-size: cover;
  background-attachment: fixed; 
  text-align: center;
  padding-top: 30px;
  border-radius: 20px;
  height: 480px;
  margin-top: 3rem ;
  margin-left: 3rem;
  margin-right: 5rem;
  margin-bottom: 3rem;
}

.imgrtg {
    margin-bottom: 50px;
    align-items: center;
}

.clap {
    display: flex;
    position: absolute;
    margin-left: -2%;
    margin-top: -50px;
}

.jempol {
    display: flex;
    position: absolute;
    margin-left: 82%;
    margin-top: -55px;
}

.intro-text h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: rgb(255, 255, 255);
}
  
.intro-text p {
    font-size: 125%;
    margin-bottom: 0.5rem;
    color: #fff;
}
  
.hero p {
    line-height: var(--line-height);
}
  
.Welcome {
    color: var(--primary-color);
}
  
.Site {
    color: var(--secondary-color);
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 0.8rem 0.6rem;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    font-family: "Roboto", sans-serf;
    border: 1px solid black;
    width: 180px;
}
  
.red {
    background-color:white;
    margin-right: 1.5rem;
    border: 1px solid black;
}
  
.red:hover {
    background-color: #5e1518;
    color: #fff;
}


body.dark {
    background-color: #161616;
}

body.dark .a {
    font-size: 1rem;  
    text-decoration: none;
    color:rgb(0, 0, 0);
    margin-left: -97%;
    margin-top: 0%;
}

body.dark .a:hover {
        color: rgb(255, 255, 255);
}
  
body.dark .bar {
    background-color: #fff;
}

body.dark .red {
    background-color: black;
    border: 1px solid white;
}

body.dark .red:hover{
    background-color: #5e1518;
}

body.dark .btn{
    color: white;
    border: 1px solid white;
}
  
body.dark p {
    color: rgb(0, 0, 0);
}
  
body.dark h1 {
    color: rgb(0, 0, 0);
}

body.dark h3 {
    color: #161616;
}
  
body.dark nav {
    box-shadow: 2px 3px 2px #969696;
}

footer{
    background: url(https://i.postimg.cc/k4bQN2Zd/bgdesign.png) ;
    text-align: center;
    color:#ffffff;
}


@media screen and (max-width: 414px) {
    nav {
        display: flex;
        width: 414px;
        
    }

    .hero {
        height: 100%;
        width: 80%;
        font-size: -1rem;
    }

    .intro-text h1 {
        width: 100%;
        font-size: 1rem;
        margin-bottom: 0rem;
        margin-right: 10px;
        color: rgb(255, 255, 255);
    }

    .imgrtg {
        width: 40%;
        margin-bottom: 10px;
        align-items: center;
    }
    
    .clap {
        width: 20%;
        display: flex;
        position: absolute;
        margin-left: -10%;
        margin-top: -50px;
    }
    
    .jempol {
        width: 20%;
        display: flex;
        position: absolute;
        margin-left: 65%;
        margin-top: -55px;
    }

    footer{
        margin-top: 100%;
        display: flex;
        width: 414px;
        text-align: center;
    }

    .btn {
        margin-top: 10px;
    }

    .red {
        margin-top: 10px;
    }
}
